* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    display:flex;
    background-color: aqua;
    width: 90%;
    height:10vh;
    margin: auto;
    align-items: center;
}
.logo-container,
.nav-links,
.cart {
    display: flex;
}
.logo-container {
    flex:1;
    background-color:coral;
}
.nav-links {
    justify-content:space-around;
    list-style: none;
}
.nav-link {
    font-size: 18px;
    text-decoration: none;
}
.logo{
    font-weight: 400px;
    margin: 5px;
}
nav {
    flex:2;
    background-color: blueviolet;
}
.keranjang {
    flex:1;
    background-color: dimgrey;
    justify-content: flex-end;
}